build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/app/build/
ios/Pods/
*.iml
.idea/
deploy/iqra-app/
deploy/iqra-studio/
deploy/nuerizo-control/
deploy/iqra-website/
